In [ ]:


m=int(input("Enter the number :"))

pro=1
while m!=0:
  rem=m%10
  pro=pro*rem
  m=m//10
print(pro)

Enter the number :123
6

In [ ]:
n=int(input("Enter the number :"))
fact=1
i=1
while i<=n:
  fact=fact*i
  i+=1
print(fact)

Enter the number :5
120

In [ ]:
n=int(input("Enter the number :"))
i=1
sum=0
while i<=n:
  if n%i==0:
    sum=sum+i
  i+=1
print("Sum of factors :",sum)

Enter the number :8
Sum of factors : 15

In [ ]:
m = int(input("Enter the number: "))
m=n
sum = 0

while m != 0:
    rem = m % 10
    fact = 1
    while rem != 0:
        fact = fact * rem
        rem -= 1
    sum = sum + fact
    m = m // 10

if sum == n:
    print("Strong number")
else:
    print("Not a strong number")

Enter the number: 8
Not a strong number

In [ ]:
n=int(input("Enter the number : "))
m=n
sum=0
while m!=0:
  rem=m%10
  sum=sum+rem**3
  m=m//10

if sum==n:
  print("Armstrong Number :")
else:
  print("Not a Armstrong Number :")

Enter the number : 153
Armstrong Number :

In [ ]:
n=int(input("Enter the number : "))
m=n
sum=0
while m!=0:
  rem=m%10
  sum=sum*10+rem
  m=m//10

if sum==n:
  print("Palindrome Number :")
else:
  print("Not a Palindrome Number :")

Enter the number : 121
Palindrome Number :

In [ ]:
# nested loop
for i in range(1,4):
  print("hey",i)
  for j in range(10,12):
    print("hello",j)

hey 1
hello 10
hello 11
hey 2
hello 10
hello 11
hey 3
hello 10
hello 11

In [ ]:
for student in range(1,6):
  print("Student",student)

  for subject in range(1,4):
    print("Subject",subject)

Student 1
Subject 1
Subject 2
Subject 3
Student 2
Subject 1
Subject 2
Subject 3
Student 3
Subject 1
Subject 2
Subject 3
Student 4
Subject 1
Subject 2
Subject 3
Student 5
Subject 1
Subject 2
Subject 3

In [ ]:
for student in range(1,6):

  for subject in range(1,4):
    print("Subject",student,subject)

Subject 1 1
Subject 1 2
Subject 1 3
Subject 2 1
Subject 2 2
Subject 2 3
Subject 3 1
Subject 3 2
Subject 3 3
Subject 4 1
Subject 4 2
Subject 4 3
Subject 5 1
Subject 5 2
Subject 5 3

In [ ]:
for i in range(2,6):
  for j in range(1,11):
    print(i*j,end=" ")
  print()

2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
for x in range(2,10):
  for i in range(1,x+1):
    if x%i==0:
      print("Factors",i)
  print("-----")

Factors 1
Factors 2
-----
Factors 1
Factors 3
-----
Factors 1
Factors 2
Factors 4
-----
Factors 1
Factors 5
-----
Factors 1
Factors 2
Factors 3
Factors 6
-----
Factors 1
Factors 7
-----
Factors 1
Factors 2
Factors 4
Factors 8
-----
Factors 1
Factors 3
Factors 9
-----

In [ ]:

for i in range(100, 400):
    m = i
    temp = 0
    while m != 0:

        rem = m % 10
        temp = temp + rem ** 3
        m = m // 10
    if temp == i:
        print(i)

153
370
371

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==0 or j==0 or i==n-1 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *